<% @features.each do |feature| %>
<!-- <a class="btn btn-outline-primary" action="/desks/<%= @desk.id %>/desk_features" method="post" name="desk_feature[<%#= feature.id %>]"><%#= feature.name %></a> -->
<%#= link_to feature.name, desk_desk_features_path(@desk, desk_feature: { :feature_id => feature.id }), :method => :post %>
  <% if desk_feature = @desk.desk_features.find_by(feature_id: feature.id) %>
    <%= link_to desk_feature_path(desk_feature), :method => :delete do %>
      <div class="feature active-feature">
        <%= feature.name %>
        <i class="far fa-check-circle"></i>
      </div>
    <% end %>
    <%#= image_tag "#{feature.name}.png" %>
  <% else %>
    <%= link_to desk_desk_features_path(@desk, desk_feature: { :feature_id => feature.id }), :method => :post do %>
        <div class="feature inactive-feature">
          <%= feature.name %>
          <i class="far fa-circle"></i>
        </div>
      <% end %>
  <% end %>
  <br>
  <br>
<% end %>
