<div class="main-container">
<h1>My Bookings</h1>
<h2 class="underline"><span>As a guest</span></h2>
<% @guest_bookings.each do |booking| %>
  Desk: <%= booking.desk.title %>,
  Date: <%= booking.date %>,
  <%= booking.total_price %> €,
  Status: <%= booking.status %>
  <br>
<% end %>
<br><br>
<h2 class="underline"><span>As a host</span></h2>
<% @bookings.each do |booking| %>
  <% if booking.desk.user == current_user %>
    Date: <%= booking.date %>,
  <%= booking.total_price %> €,
  <% if booking.status == 'accepted' %>
  Status: <%= booking.status class: "status-accepted"%>
  <% end %>
   <% if booking.status == 'declined' %>
  Status: <%= booking.status class: "status-declined"%>
  <% end %>
  <% if booking.status == 'pending' %>
  Status: <%= booking.status class: "status-pending"%>
    <%= link_to 'Accept', approved_path(booking), method: :patch, class: "btn-accept" %>
    <%= link_to 'Decline', denied_path(booking), method: :patch, class: "btn-decline" %>
  <% end %>
  <br><br>
  <% end %>
<% end %>
</div>


