<div class="main-container">
  <h1>My Bookings</h1>
      <h2 class="underline"><span>As a guest</span></h2>
      <% if @guest_bookings.any? %>
        <h3 class="subchapter"><span>Upcoming</span></h2>
        <% @guest_bookings.sort.reverse.each do |booking| %>
          <% if booking.date.future? %>
            <div class="card-booking">
              <% if booking.desk.photos.any? %>
                <%= cl_image_tag booking.desk.photos.first.data, id: "desk-thumbnail" %>
              <% else %>
                <%= image_tag 'computer.jpg', id: "desk-thumbnail" %>
              <% end %>
              <div class="booking-summary">
                <p><strong><%= booking.desk.title %></strong></p>
                <p>Price: <%= booking.total_price %>€</p>
                <p><%= booking.desk.address.split(',').pop(3).first %></p>
                <p><%= booking.date %></p>
              </div>
              <% if booking.status == 'accepted' %>
                <div class="right">
                  <p class="status-accepted"><%= booking.status %></p>
                </div>
              <% elsif booking.status == 'denied' %>
                <div class="right">
                  <p class="status-declined"><%= booking.status %></p>
                </div>
              <% else %>
                <div class="right">
                  <p class="status-pending"><%= booking.status %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <h3  class="subchapter"><span>Past bookings</span></h2>
        <% @guest_bookings.sort.reverse.each do |booking| %>
          <% if booking.date.past? %>
            <div class="card-booking">
              <% if booking.desk.photos.any? %>
                <%= cl_image_tag booking.desk.photos.first.data, id: "desk-thumbnail" %>
              <% else %>
                <%= image_tag 'computer.jpg', id: "desk-thumbnail" %>
              <% end %>
              <div class="booking-summary">
                <p><strong><%= booking.desk.title %></strong></p>
                <p>Price: <%= booking.total_price %>€</p>
                <p><%= booking.desk.address.split(',').pop(3).first %></p>
                <p><%= booking.date %></p>
              </div>
              <% if booking.status == 'accepted' %>
                <div class="right">
                  <p class="status-accepted"><%= booking.status %></p>
                  <a href="#" class="btn-review">leave a review</a>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You don't have any bookings yet 😉</p>
      <% end %>

      <h2 class="underline host"><span>As a host</span></h2>

      <h3 class="subchapter"><span>Requested (awaiting response)</span></h2>
      <% @bookings.sort.reverse.each do |booking| %>
        <% if booking.desk.user == current_user %>
          <% if booking.status == 'pending' %>
            <div class="card-booking">
              <% if booking.desk.photos.any? %>
                <%= cl_image_tag booking.desk.photos.first.data, id: "desk-thumbnail" %>
              <% else %>
                <%= image_tag 'computer.jpg', id: "desk-thumbnail" %>
              <% end %>
              <div class="booking-summary">
                <p><strong><%= booking.desk.title %></strong></p>
                <p>Price: <%= booking.total_price %>€</p>
                <p><%= booking.desk.address.split(',').pop(3).first %></p>
                <p><%= booking.date %></p>
              </div>
              <div class="right">
                <p class="status-pending"><%= booking.status %></p>
                <%= link_to 'Accept', approved_path(booking), method: :patch, class: "btn-accept" %>
                <%= link_to 'Decline', denied_path(booking), method: :patch, class: "btn-decline" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <h3 class="subchapter"><span>Past bookings</span></h2>
      <% @bookings.sort.reverse.each do |booking| %>
        <% if booking.desk.user == current_user %>
          <% if booking.status == 'accepted' || booking.status == 'denied' %>
            <div class="card-booking">
              <% if booking.desk.photos.any? %>
                <%= cl_image_tag booking.desk.photos.first.data, id: "desk-thumbnail" %>
              <% else %>
                <%= image_tag 'computer.jpg', id: "desk-thumbnail" %>
              <% end %>
              <div class="booking-summary">
                <p><strong><%= booking.desk.title %></strong></p>
                <p>Price: <%= booking.total_price %>€</p>
                <p><%= booking.desk.address.split(',').pop(3).first %></p>
                <p><%= booking.date %></p>
              </div>
              <div class="right">
                <% if booking.status == 'accepted' %>
                  <p class="status-accepted"><%= booking.status %></p>
                <% else %>
                  <p class="status-declined"><%= booking.status %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

</div>

