<div class="main-container">
  <h1 class="mt-4 mb-3">Booking Summary</h1>
  <h3><%= @booking.desk.title %></h3>
  <p><%= @booking.desk.description %></p>
  <p>Location:<%= @booking.desk.address.split(',').pop(3).first %></p>
  <% if @desk_rating.present? %>
    <% @desk_rating.times do %>
      <span class="homey-star">☆</span>
    <% end %>
    <% (5-@desk_rating).times do %>
      <span class="grey-star">☆</span>
    <% end %>
  <% else %>
    <div class="rating" , style="margin-bottom: 20px">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
  <% end %>
  <p>Date: <%= @booking.date.to_formatted_s(:long) %></p>
  <h3 class="underline mt-4"><span>Price:</span> <%= humanized_money_with_symbol(@booking.amount) %></h3>
  <h3>Write a message to your host (optional): </h3>
  <textarea class="border" style="width: 100%"></textarea>
  <p class="font-italic mt-3">By clicking on "Request Booking", we will send a notification to your host and will await his confirmation. We will notify you once you have been accepted or declined.</p>

  <!-- <h3>Enter your credit cards below:</h3> -->
  <%= form_tag desk_booking_payments_path(@desk, @booking) do %>
    <article>
        <label class="amount">
          <!-- <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span> -->
        </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My Booking"
      data-email="<%= current_user.email %>"
      data-description="Booking <%= @booking.desk.title %>"
      data-amount="<%= @booking.amount_cents %>"
      data-currency="<%= @booking.amount.currency %>"></script>
    <script>
      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>
    <button type="submit" class="btn-main" id="next-btn">Request Booking</button>

  <% end %>
</div>
