  <div class="navbar">
    <% if @back_link %>
    <%= link_to "< Back", @back_link, class: "btn-back" %>
    <% else %>
    <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "homeylogo.png" %>
    <% end %>
    <% end %>



    <div class="navbar-buttons d-flex">
      <% if user_signed_in? %>
        <% unless [controller_name, action_name].in? [['desks', 'new'], ['desk_features', 'new'], ['photos', 'index']]%>
          <%= link_to "Add a desk", new_desk_path, class: "btn-list-desk" %>
        <% end %>
      <div class="avatar-logo">
        <% if current_user.photo.present? %>
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559038920/blank-profile-picture-973460_1280_tey6qw.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <% if current_user.notify > 0 %>
          <div class="notifications">
            <%= current_user.notify %>
          </div>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
          <%= link_to "My Desks", my_desks_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn-login" %>
      <%= link_to "Add a desk", new_user_session_path, class: "btn-list-desk" %>
      <% end %>
      </div>
    </div>
  </div>
