<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="form-inputs">
        <h2>Edit the information of <%= @desk.title %></h2>
        <%= simple_form_for @desk do |f| %>
        <div class="form-box">
          <%= f.input_field :title, class: "form-input"%>
        </div>
        <div class="form-box">
          <%= f.input_field :address, class: "form-input"%>
        </div>
        <div class="form-box">
          <%= f.input_field :price, class: "form-input"%>
        </div>
        <div class="form-box-description">
          <%= f.input_field :description, as: :text, class: "form-input", :input_html => { :rows => 4 }, id: "description"%>
        </div>
          <%= f.button :submit, class: "btn-main mb-4", id: "next-btn" %>
        <!-- Can I also add some new pictures in the same form ? -->
        <% end %>
      </div>
    </div>
  </div>
</div>
