<h1>Desks#index</h1>
<p>Find me in app/views/desks/index.html.erb</p>

<% @desks.each do |desk| %>
  <% photos = Photo.where(desk: desk) %>
  <% if photos.present? %>
    <%= cl_image_tag photos.first.data, id: "desk_photo" %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559054779/photo-1498050108023-c5249f4df085_laghas.jpg", id: "desk_photo" %>
  <% end %>
  <p><strong><%= desk.title %></strong></p>
  <p>Description: <%= desk.description %></p>
  <p>Address: <%= desk.address %></p>
  <p>Price: <%= desk.price %> €/day</p>
  <p>
    Features:
    <% desk.features.each do |feature| %>
      <%= feature.name %>,
    <% end %>
  </p>
<% end %>

