<div class="main-container">
<h1>Desks</h1>
<p><%= @desks.count %> results in --City--</p>
  <% @desks.each do |desk| %>
    <% photos = Photo.where(desk: desk) %>
    <% if photos.present? %>
      <%= cl_image_tag photos.first.data, id: "desk_photo" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559054779/photo-1498050108023-c5249f4df085_laghas.jpg", id: "desk_photo" %>
    <% end %>
    <div class="d-flex justify-content-between align-items-center">
      <div class="content">
        <p><strong><%= desk.title %></strong></p>
        <p>Address: <%= desk.address %></p>
        <p>Price: <%= desk.price %> €/day</p>
        <div class="rating">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
      </div>
        <% if desk.user.photo.present? %>
          <%= cl_image_tag desk.user.photo, id: "user_photo" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559038920/blank-profile-picture-973460_1280_tey6qw.png", class: "avatar-large mr-3"%>
        <% end %>
    </div>
  <% end %>
</div>


