
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if @photos.present? %>
      <div class="carousel-item active">
        <%= cl_image_tag @photos.first.data, class: "d-block w-100", id: "desk_photo" %>
      </div>
      <% @photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.data, class: "d-block w-100", id: "desk_photo" %>
        </div>
      <% end %>
    <% else %>
      <div class="carousel-item active">
        <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559054779/photo-1498050108023-c5249f4df085_laghas.jpg", class: "d-block w-100", id: "desk_photo" %>
      </div>
      <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dwourcbb9/image/upload/v1559061922/fbi4cvtf8rwpsi2ic4lb.jpg", class: "d-block w-100", id: "desk_photo" %>
        </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main-container">
<p><strong><%= @desk.title %></strong></p>
<p>Description: <%= @desk.description %></p>
<p>Host: <strong><%= @desk.user.first_name.capitalize %> <%= @desk.user.last_name.capitalize %></strong></p>
<p>Address: <%= @desk.address %></p>
<p>Price: <%= @desk.price %> €/day</p>
<p>
  Features:
  <% @desk_features.each do |f| %>
    <%= image_tag "#{f.feature.icon_name}.png", class: "feature-icon" %>
  <% end %>
</p>

  <% if @desk.user != current_user %>
      <%= simple_form_for [@desk, @booking] do |f| %>
      <div class="d-flex flex-row">
        <%= f.input :date, as: :string, label: false, required: true, input_html: { class: "datepicker", style: "max-width: 300px" }, placeholder: "19 Jan" %>
        <div class="timeslots">
          <%= f.input :am, label: "AM", input_html: { class: "hidden" }, label_html: { class: "timeslot-active"}, required: false %>
        </div>
        <div class="timeslots">
          <%= f.input :pm, input_html: { class: "hidden" }, label: "PM", label_html: { class: "timeslot-active"}, required: false %>
        </div>
        <%= f.button :submit, class: "btn-primary ml-2 mb-3", value: "Book | #{@desk.price} €" %>
      <% end %>
      </div>
  <% end %>
</div>
