<div class="banner">
  <div class="banner-content">
    <h1 class="homepage-typed"></h1>
    <h2>Find and book a private workspace near you, from people like you</h2>
  </div>

    <form class="search-box" method="get" action="/desks">
      <input type="text" class="search-bar" id="address" name="location" placeholder="Enter your location...">
      <div class="search-box-line2">
        <input type="date" class="search-bar datepicker" name="date" placeholder="19 Jan">
        <div class="timeslots">
          <input type="checkbox" class="hidden" id="am" value="am" checked>
          <label for="am" class="timeslot active">AM</label>
        </div>
        <div class="timeslots">
          <input type="checkbox" class="hidden" id="pm" value="pm" checked>
          <label for="pm" class="timeslot active">PM</label>
        </div>
        <button type="submit" class="btn-main">
          SEARCH
        </button>
      </div>
    </form>

</div>

<div class="card-home-grid">
    <div class="card-home">
      <% if Desk.last.photos.present? %>
        <div class="card-home-img" style="background-image: url('<%= cl_image_path Desk.last.photos.first.data %>');">
          <% if Desk.last.user.photo.present? %>
            <%= cl_image_tag Desk.last.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% else %>
        <div class="card-home-img" style="background-image: url(<%= image_path 'desk.jpeg' %>);">
          <% if Desk.last.user.photo.present? %>
            <%= cl_image_tag Desk.last.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% end %>
        <div class="card-home-body">
            <h3><%= Desk.last.title %></h3>
            <div class="card-home-footer">
                <div class="rating" style="font-size: 60%;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
                <p><%= Desk.last.price %> €/day</p>
            </div>
        </div>
    </div>
    <div class="card-home">
      <% if Desk.first.photos.present? %>
        <div class="card-home-img" style="background-image: url('<%= cl_image_path Desk.first.photos.first.data %>');">
          <% if Desk.first.user.photo.present? %>
            <%= cl_image_tag Desk.first.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% else %>
        <div class="card-home-img" style="background-image: url(<%= image_path 'desk.jpeg' %>);">
          <% if Desk.first.user.photo.present? %>
            <%= cl_image_tag Desk.first.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% end %>
        <div class="card-home-body">
            <h3><%= Desk.first.title %></h3>
            <div class="card-home-footer">
                <div class="rating" style="font-size: 60%;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
                <p><%= Desk.first.price %> €/day</p>
            </div>
        </div>
    </div>
    <div class="card-home">
      <% if Desk.last.photos.present? %>
        <div class="card-home-img" style="background-image: url('<%= cl_image_path Desk.last.photos.first.data %>');">
          <% if Desk.last.user.photo.present? %>
            <%= cl_image_tag Desk.last.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% else %>
        <div class="card-home-img" style="background-image: url(<%= image_path 'desk.jpeg' %>);">
          <% if Desk.last.user.photo.present? %>
            <%= cl_image_tag Desk.last.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% end %>
        <div class="card-home-body">
            <h3><%= Desk.last.title %></h3>
            <div class="card-home-footer">
                <div class="rating" style="font-size: 60%;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
                <p><%= Desk.last.price %> €/day</p>
            </div>
        </div>
    </div>
    <div class="card-home">
      <% if Desk.first.photos.present? %>
        <div class="card-home-img" style="background-image: url('<%= cl_image_path Desk.first.photos.first.data %>');">
          <% if Desk.first.user.photo.present? %>
            <%= cl_image_tag Desk.first.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% else %>
        <div class="card-home-img" style="background-image: url(<%= image_path 'desk.jpeg' %>);">
          <% if Desk.first.user.photo.present? %>
            <%= cl_image_tag Desk.first.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% end %>
        <div class="card-home-body">
            <h3><%= Desk.first.title %></h3>
            <div class="card-home-footer">
                <div class="rating" style="font-size: 60%;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
                <p><%= Desk.first.price %> €/day</p>
            </div>
        </div>
    </div>
</div>
