<div class="banner">
  <div class="banner-content">
    <h1 class="mb-4">Be Productive Anywhere</h1>
    <h2>Find and book a private workspace near you, from people like you</h2>
  </div>

  <form class="search-box" method="get" action="/desks">
    <input type="text" class="search-bar" id="address" name="location" placeholder="Where do you need a desk?">
    <div class="search-criteria">
      <input type="date" class="datepicker" name="date" placeholder="Date">
      <div class="timeslots">
        <input type="checkbox" class="hidden" id="am" name="am" value="true">
        <label for="am" class="timeslot" >AM</label>
      </div>
      <div class="timeslots">
        <input type="checkbox" class="hidden" id="pm" name="pm" value="true">
        <label for="pm" class="timeslot">PM</label>
      </div>
      <button type="submit" class="btn-main-sm">
        SEARCH
      </button>
    </div>
  </form>
</div>

<div class="main-container">
  <h2 class="ml-5 h2home underline">Most popular desks in <span class="homepage-typed">Barcelona</span></h2>
  <div class="card-home-grid">
    <% @desks.each do |desk| %>
      <%= link_to desk_path(desk) do %>
        <div class="card-home">
          <% if desk.photos.present? %>
            <div class="card-home-img" style="background-image: url('<%= cl_image_path desk.photos.first.data %>');">
              <% if desk.user.photo.present? %>
                <%= cl_image_tag desk.user.photo, class: "avatar avatar-position" %>
              <% else %>
                <img src="https://res.cloudinary.com/dwourcbb9/image/upload/v1559038920/blank-profile-picture-973460_1280_tey6qw.png" alt="" class="avatar avatar-position">
              <% end %>
            </div>
          <% else %>
            <div class="card-home-img" style="background-image: url(<%= image_path 'computer.jpg' %>);">
              <% if desk.user.photo.present? %>
                <%= cl_image_tag desk.user.photo, class: "avatar avatar-position" %>
              <% else %>
                <img src="https://res.cloudinary.com/dwourcbb9/image/upload/v1559038920/blank-profile-picture-973460_1280_tey6qw.png" alt="" class="avatar avatar-position">
              <% end %>
            </div>
          <% end %>
          <div class="card-home-body">
            <h3><%= desk.title %></h3>
            <div class="card-home-footer">
              <% if desk.reviews.any? %>
                <div class="desk-review-rating" style="font-size: 60%;">
                  <% desk.desk_rating.times do %>
                    <span class="homey-star"><i class="fas fa-star"></i></span>
                  <% end %>
                  <% (5-desk.desk_rating).times do %>
                    <span class="grey-star"><i class="far fa-star"></i></span>
                  <% end %>
                </div>
              <% else %>
                <div class="rating grey-star" style="font-size: 60%;">
                  <span><i class="far fa-star"></i></span><span><i class="far fa-star"></i></span><span><i class="far fa-star"></i></span><span><i class="far fa-star"></i></span><span><i class="far fa-star"></i></span>
                </div>
              <% end %>
              <p><%= humanized_money_with_symbol(desk.price) %> /day</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2 class="text-center mt-4 mb-4">How it works</h2>
  <div class="cards">
    <div class="card">
      <%= image_tag "pointer.png", class: "home-icon" %>
      <p>Search for a location & date</p>
    </div>
    <div class="card">
      <%= image_tag "desktop.png", class: "home-icon" %>
      <p>Browse through unique desks</p>
    </div>
    <div class="card">
      <%= image_tag "click.png", class: "home-icon" %>
      <p>Book & Confirm in a few clicks!</p>
    </div>
  </div>
  <h2 class="text-center mt-4 mb-4">What our users say</h2>
  <div class="testimonials">
    <div class="testimonial text-left">
      <p class="font-italic mb-2">“It’s an incredible way to find a quiet workspace to work from, I use Homey all the time when I travel around the world”</p>
      <div class="d-flex">
        <%= image_tag "james.jpg", class: "avatar" %>
        <div class="content text-left">
          <p class="font-italic"><small>James</small></p>
          <p class="font-italic"><small>Copenhagen</small></p>
          <p class="font-italic"><small>Graphic Designer</small></p>
        </div>
      </div>
    </div>
    <div class="testimonial text-left">
      <p class="font-italic mb-2">“I was having a hard time focusing in co-working spaces and couldn't get any work done. Homey changed everything!”</p>
      <div class="d-flex">
        <%= image_tag "jenny.jpg", class: "avatar" %>
        <div class="content text-left">
          <p class="font-italic"><small>Jenny</small></p>
          <p class="font-italic"><small>Brussels</small></p>
          <p class="font-italic"><small>Tech Developer</small></p>
        </div>
      </div>
    </div>
    <div class="testimonial text-left">
      <p class="font-italic mb-2">“My job requires me to be in a quiet space and not get disrupted. I never thought a platform like Homey would exist!”</p>
      <div class="d-flex">
        <%= image_tag "clement.jpg", class: "avatar" %>
        <div class="content text-left">
          <p class="font-italic"><small>Clément</small></p>
          <p class="font-italic"><small>Paris</small></p>
          <p class="font-italic"><small>Online Tutor</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

