<div class="banner">
  <div class="banner-content">
    <h1 class="homepage-typed"></h1>
    <h2>Find and book a private workspace near you, from people like you</h2>
  </div>

    <form class="search-box" method="get" action="/desks">
      <input type="text" class="search-bar" id="address" name="location" placeholder="Enter your location...">
      <div class="search-criteria">
        <input type="date" class="datepicker" name="date" placeholder="date" value="04/03/3094">
        <div class="timeslots">
          <input type="checkbox" class="hidden" id="am" value="am" checked>
          <label for="am" class="timeslot active">AM</label>
        </div>
        <div class="timeslots">
          <input type="checkbox" class="hidden" id="pm" value="pm" checked>
          <label for="pm" class="timeslot active">PM</label>
        </div>
        <button type="submit" class="btn-main-sm">
          SEARCH
        </button>
      </div>
    </form>
</div>
<h2 class="text-center h2home">Most popular desks in Barcelona</h2>
<div class="card-home-grid">
  <% @desks.each do |desk| %>

    <div class="card-home">
      <% if desk.photos.present? %>
        <div class="card-home-img" style="background-image: url('<%= cl_image_path desk.photos.first.data %>');">
          <% if desk.user.photo.present? %>
            <%= cl_image_tag desk.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% else %>
        <div class="card-home-img" style="background-image: url(<%= image_path 'computer.jpg' %>);">
          <% if desk.user.photo.present? %>
            <%= cl_image_tag desk.user.photo, class: "avatar avatar-position" %>
          <% else %>
            <img src="buser.png" alt="" class="avatar avatar-position">
          <% end %>
        </div>
      <% end %>
        <div class="card-home-body">
            <h3><%= desk.title %></h3>
            <div class="card-home-footer">
                <div class="rating" style="font-size: 60%;">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
                <p><%= desk.price %> €/day</p>
            </div>
        </div>
    </div>
  <% end %>
</div>
