<div class="main-container">
  <h1>List your Desk</h1>
  <div class="form-inputs">
    <h2 class="underline">
      <span>
        Step 3
      </span>
    </h2>
    <h3 id="select-photos">
      Give a little taste to your future guests and add photos of <%= @desk.title %>!
    </h3>

    <%= simple_form_for [@desk, @photo] do |f| %>
      <%= f.input_field :data, label: false %>
      <%= f.input :data_cache, as: :hidden %>
      <%= f.button :submit, 'Add photo', class: "btn-login-lg" %>
      <br>
      <br>
      <%= link_to 'SAVE', "#", class: "btn-main", id: "next-btn", data: {url: desk_path(@desk), title: "Your desk has been saved!" } %>
    <% end %>
    <div class="row">
      <% @photos.each do |photo| %>
      <div class="col-6">
        <%= cl_image_tag photo.data, id: "upload_photo" %>
        <div class="text-right mt-1">
        <%= link_to image_tag('delete.png', class: "bin-delete"), photo, method: :delete, data: { confirm: 'Are you sure?'} %>
        </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
