<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="form-inputs">
        <h1>Write a review about <%= @booking.desk.user.first_name.capitalize %>'s desk </h1>
        <%= simple_form_for [@booking, @review] do |f| %>
          <div class="form-box">
            <%= f.input :content,
                  class: 'form-input',
                  placeholder: 'describe your experience',
                  label: false,
                  :input_html => { :rows => 4 } %>
          </div>
          <div class="form-box-price">
            <%= f.input :desk_rating,
                  class: 'form-input',
                  collection: (1..5).to_a,
                  label: false,
                  prompt: '---select a rating---' %>
          </div>
          <%= f.submit "Send your review", class: 'btn-main' %>
        <% end %>
      </div>
    </div>
  </div>
</div>





